<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
    <form method="POST" action="/food">
      <p>Your Name: <input type="text" name="name"/></p>
      <p>Your Favorite Food: <input type="text" name="favorite_food"/></p>
      <input type="submit"/>
    </form>

    <br>
    
    <h4>Are you an athlete</h4>
    <form action="/hobbies" method="post">
      <p>Your Sport: <input type="text" name="sport"/></p>
      <p>Your Position: <input type="text" name="position"/></p>
      <p>Your Favorite Athlete: <input type="text" name="fav_athlete"/></p>
      <input type="submit"/>
    </form>

    <br>

    <h4>Do you like to walk or run?</h4>
    <form action="/run_or_walk" method="POST">
      <p>Please select one option</p>
      <%# <input type="radio" id="walk" name="walk">
      <label for="walk">Walk</label><br>
      <input type="radio" name="run" id="run">
      <label for="run">Run</label> %>

      <input type="radio" id="run" name="run_or_walk" value="run">
      <label for="run">Run</label><br>
      <input type="radio" id="walk" name="run_or_walk" value="walk">
      <label for="walk">Walk</label><br>
      
      <br>

      <p>Please select for how long</p>
      <input type="radio" name="time" value="5 mins.">
      <label for="5">5 Mins.</label><br>
      <input type="radio" name="time" value="10 mins.">
      <label for="10">10 Mins.</label><br>
      <input type="radio" name="time" value="15 mins.">
      <label for="15">15 Mins.</label><br>
      <input type="radio" name="time" value="20 mins.">
      <label for="20">20 Mins.</label><br>
      <input type="submit"> <input type="reset">
    </form>


  </body>
</html>